.header, .body, .footer {
    padding: 20px;
}
.footer {
    display: flex;
    justify-content: space-between;
}
.footer button.btnNext{
    margin-left: auto!important;
}
.stepLabel {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}
.stepLabel .stepValue{
    font-weight: bold;
    font-size: 2.125rem;
    margin-right: 0.625rem;
    line-height: 1.5;
    letter-spacing: 0.15px;
}
.stepLabel .stepText h3{
    font-weight: 600;
    font-size: 0.875rem;
}
.stepLabel .stepText p{
    font-size: 0.75rem;
}